{% extends 'base.html.twig' %}

{% block title %} Mon espace {% endblock %}
{% block body %}
{% set infos = user_infos %}
{% set services = infos.services %}
<div class="profile-edit">
    <div class="d-flex justify-content-center">
        <h2 class="page-title">Bonjour {{ infos.firstname}} ! Heureux de vous revoir.</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-wrap">
        <div>Je propose :</div>
        <div class="profile-button-container d-flex flex-wrap justify-content-center">
            <div class="profile-button">
                <a href="">une fiche</a>
            </div>
            <div class="profile-button">
                <a href="">un service</a>
            </div>
            <div class="profile-button">
                <a href="">un évènement</a>
            </div>
        </div>
    </div>
    <div class="container-fluid profile-main">
        <div class="row align-items-center">
            <div class="col-xl-5 col-12 d-flex justify-content-center">
                <div>
                    <div class="overflow-hidden">
                        <img class="profile-picture" src="{{ infos.picture.link }}" alt="photo de profil">
                    </div>
                    <div>
                        <p class="text-center text-xl-left green-string">Modifier</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-12 d-flex justify-content-center justify-content-xl-start" >
                <div class="profile-informations">
                    <h3> {{ infos.firstname }} {{ infos.lastname }} </h3>
                    <p> Spécialisation: {{ expertises }} </p>
                    <p> {{ infos.address }} </p>
                    <p> {{ infos.email }} </p>
                    <p> {{ infos.phone }} </p>
                    <p> Site internet : {{ infos.website }} </p>
                </div>
                <div class="col-7 profile-main-forms">
                    <div class="form-edit-user">
                        {{ form_start(formEditUser) }}
                        {{ form_widget(formEditUser) }}
                        <button class="btn">{{ button_label|default('Valider') }}</button>
                        {{ form_end(formEditUser) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="part-title">Mes fiches :</h3>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        {% for i in 1..4 %}
            <div class="card-container justify-content-center">
                <div>
                    {% include '/component/_card.html.twig' %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        <h3 class="part-title">Mes événements :</h3>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        {% for i in 20..23 %}
            <div class="card-container justify-content-center">
                <div class="overflow-hidden">
                    <img src="https://picsum.photos/400/200?random={{ i }}" alt='événement organisé'>
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        <h3 class="part-title">Mes services :</h3>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        {% for service in services %}
            <div class="card-container justify-content-center">
                <div class="overflow-hidden">
                    <a href="{{ service.link }}" target="_blank">
                        <img src="https://picsum.photos/400/200?random={{ random(50,150) }}" alt='service proposé'>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="profile-separation"></div>
</div>
<div>
    <h3 class="part-title">Je propose une fiche :</h3>
</div>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-5 d-flex justify-content-center">
            <div>
                <div class="overflow-hidden">
                    <img class="item-picture" src="https://images.unsplash.com/photo-1505576399279-565b52d4ac71?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Ma nouvelle fiche">                    </div>
                <div>
                    <p class="green-string">Modifier</p>
                </div>
            </div>
        </div>
        <div class="col-7 profile-main-forms">
            <div class="form-service">
                <div class="d-flex flex-column">
                    <label for="title" class="font-weight-bold">Titre</label>
                    <input type="text" id="title">
                </div>
                <div class="d-flex flex-column">
                    <label for="format" class="font-weight-bold">Support</label>
                    <select id="format">
                        <option value="">--Faites votre choix--</option>
                    </select>
                </div>
                <div class="d-flex flex-column">
                    <label for="description" class="font-weight-bold">Description</label>
                    <textarea id="description" row="4" placeholder="200 caractères maximum"></textarea>
                </div>
                <div class="d-flex flex-column">
                    <label for="documents" class="font-weight-bold">Documents</label>
                    <input type="text" placeholder="Fichier...">
                    <p style="margin:0;">ou</p>
                    <input type="text" placeholder="Site internet">
                </div>
                <div class="d-flex flex-row-reverse">
                    <button class="validate-button">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h3 class="part-title">Je propose un service :</h3>
</div>
<div class="container-fluid-service">
    <div class="row align-items-center">
        <div class="col-5 d-flex justify-content-center">
            <div>
                <div class="overflow-hidden">
                    <img class="item-picture" src="https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Ma nouvelle fiche">
                </div>
                <div>
                    <p class="green-string">Modifier</p>
                </div>
            </div>
        </div>
        <div class="col-7 profile-main-forms">
            <div class="form-service">
                {{ form_start(formService) }}
                <div class="row">
                    <div class="text-center px-4">Titre</div>
                    <div>{{ form_row(formService.name) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">Lien</div>
                    <div>{{ form_row(formService.link) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">Prix</div>
                    <div>{{ form_row(formService.price) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">Description</div>
                    <div>{{ form_row(formService.description) }}</div>
                </div>
                <div>
                    <button class="btn">{{ button_label|default('Valider') }}</button>
                </div>
                {{ form_end(formService) }}
            </div>
        </div>
    </div>
</div>
<div>
    <h3 class="part-title">Je propose un événement :</h3>
</div>
<div class="container-fluid-event">
    <div class="row align-items-center">
        <div class="col-5 d-flex justify-content-center">
            <div>
                <div class="overflow-hidden">
                    <img class="item-picture" src="https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Ma nouvelle fiche">
                </div>
                <div>
                    <p class="green-string">Modifier</p>
                </div>
            </div>
        </div>
        <div class="col-7 profile-main-forms">
            <div class="form-event">
                {{ form_start(formEvent) }}
                <div class="row">
                    <div class="text-center px-4">Titre</div>
                    <div>{{ form_row(formEvent.name) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">Type d'évènement</div>
                    <div>{{ form_row(formEvent.eventFormat) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">Date de début</div>
                    <div>{{ form_row(formEvent.dateStart) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">Date de fin</div>
                    <div>{{ form_row(formEvent.dateEnd) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">Prix</div>
                    <div>{{ form_row(formEvent.price) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">Lien</div>
                    <div>{{ form_row(formEvent.link) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">Description</div>
                    <div>{{ form_row(formEvent.description) }}</div>
                </div>
                <div class="row">
                    <div class="text-center px-4">registeredEvent</div>
                    <div>{{ form_row(formEvent.registeredEvent) }}</div>
                </div>
                <div>
                    <button class="btn">{{ button_label|default('Valider') }}</button>
                </div>
                {{ form_end(formEvent) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column align-items-start">
    <div style="height:20px"></div>
</div>

{% endblock %}
