{% extends 'base.html.twig' %}

{% block title %} Présentation des utilisateurs {% endblock %}
{% block body %}
{% set infos = user_infos %}
{% set services = infos.services %}

<div class="d-flex justify-content-center">
    <h2 class="page-title">• Profil •</h2>
</div>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-xl-5 col-12 d-flex justify-content-center overflow-hidden">
            <img class="profile-picture" src= {{ infos.picture.link }} alt="photo de profil">
        </div>
        <div class="col-xl-7 col-12 d-flex justify-content-center justify-content-xl-start" >
            <div class="profile-informations">
                <h3> {{ infos.firstname }} {{ infos.lastname }} </h3>
                <p> Spécialisation: {{ expertises }} </p>
                <p> {{ infos.address }} </p>
                <p> {{ infos.email }} </p>
                <p> {{ infos.phone }} </p>
                <p> Site internet : {{ infos.website }} </p>
            </div>
        </div>
    </div>
</div>

<div class="profile-title-space">
    <h3 class="part-title">Fiches postées :</h3>
</div>
<div class="d-flex flex-wrap justify-content-center">
    {% for i in 1..4 %}
    <div class="card-container justify-content-center">
        <div>
            {% include '/component/_card.html.twig' %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="profile-title-space">
    <h3 class="part-title">Événements organisés :</h3>
</div>
<div class="d-flex flex-wrap justify-content-center">
    {% for i in 40..43 %}
        <div class="card-container justify-content-center">
            <div class="overflow-hidden">
                <img src="https://picsum.photos/400/200?random={{ i }}" alt='événement organisé'">
            </div>
        </div>
    {% endfor %}
</div>

<div class="profile-title-space">
    <h3 class="part-title">Services proposés :</h3>
</div>
<div class="d-flex flex-wrap justify-content-center">
    {% for service in services %}
        <div class="card-container justify-content-center">
            <div class="overflow-hidden">
                <a href="{{ service.link }}" target="_blank">
                    <img src="{{ service.picture.link }}" alt='service proposé'">
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}