{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
    <div class="event">
        <div class="d-flex justify-content-center">
            <h2 class="page-title">Evènements</h2>
        </div>
        <div class="search d-flex justify-content-center">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="search-button home-btn-main search-text">Rechercher</button>
            <button type="submit" class="search-button home-btn-main search-loop"><i class="fas fa-search"></i></button>
            {{ form_end(form) }}
        </div>

        <div class="event-modal">
        {% if app.user %}
            <div class="mb-4">
                <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                    <div class="d-flex align-items-center">Je propose :</div>
                    <div class="form-modal">
                        <button type="button" class="event-button" data-toggle="modal" data-target="#exampleModalCenter">
                            un évènement
                        </button>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title text-black-50" id="exampleModalLongTitle">Nouvel évènement</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% include '/component/_newevent_edit.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
        <div>
        {% if eventsSearch %}
            {% for event in eventsSearch %}
                <div class="row container-img-txt">
                    <div class="col-lg-4">
                        <div class="img-container">
                            {% for picture in pictures %}
                                {% if event.picture.id is same as (picture.id) %}
                                    <img class="picture-event" src="/uploads/pictures/{{ picture.name }}" alt='Picture event'>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-3 text-container">
                        <p>Titre: {{ event.name }} </p>
                        <p>lien: <a href="{{ event.link }}" target="_blank">{{ event.link }}</a></p>
                        <p>Date de début:{{ event.dateStart|date("d/m/Y H:i") }}</p>
                        <p>Date de fin : {{ event.dateEnd|date("d/m/Y H:i") }}</p>
                        <p>Description:{{ event.description }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="d-flex container-fluid">
            <div class="d-flex col-2">
                <div class="dates">
                    <h3>Dates</h3>
                    {% for event in events %}
                        <ul>
                            {{ event.dateStart|date("d/m/Y H:i") }}<br>
                            {{ event.name }}
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex col-10">
                <div class="d-flex">
                    <div class="col justify-content-end bloc-img">
                        <div class="row justify-content-center"><h3>Tri des évènements</h3></div>
                            {% for event in events %}
                                <div class="row container-img-txt justify-content-end">
                                    <div class="col-lg-4">
                                        <div class="img-container">
                                            {% for picture in pictures %}
                                                {% if event.picture.id is same as (picture.id) %}
                                                    <img class="picture-event" src="/uploads/pictures/{{ picture.name }}" alt='Picture event'>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-container">
                                        <p>Titre: {{ event.name }} </p>
                                        <p>lien: <a href="{{ event.link }}" target="_blank">{{ event.link }}</a></p>
                                        <p>Date de début:{{ event.dateStart|date("d/m/Y H:i") }}</p>
                                        <p>Date de fin : {{ event.dateEnd|date("d/m/Y H:i") }}</p>
                                        <p>Description:{{ event.description }}</p>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('profile_event_edit', {'id': event.id}) }}" class="">Editer</a>
                                        {% endif %}
                                        {% if app.user %}
                                            {% if events_and_organizers[event.id] is defined and events_and_organizers[event.id] == app.user %}
                                                <div class="font-weight-bold font-italic">Vous êtes l'organisateur·rice</div>
                                            {% elseif events_and_participants[event.id] is defined and app.user in events_and_participants[event.id] %}
                                                <div class="font-weight-bold font-italic">Vous y participez déjà</div>
                                                <div>
                                                    <form method="post"
                                                          onsubmit="return confirm('Étes-vous sûr de vouloir vous désinscrire ?');">
                                                        <div class="unregister-event-form">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token"
                                                                   value="{{ csrf_token('delete-registeredEvent') }}">
                                                            <input type="hidden" name="eventIdUnregister" value={{ event.id }}>
                                                            <button class='btn btn-primary'>Se désinscrire</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            {% else %}
                                                <div>
                                                    <form action="" method="post">
                                                        <div class="register-event-form">
                                                            <input type="hidden" name="eventIdRegister" value={{ event.id }}>
                                                            <button class='btn btn-primary'>S'inscrire</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                    </div>
                </div>
            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
