{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
<div class="event">
    <div class="d-flex justify-content-center">
        <h2 class="page-title">Evènements</h2>
    </div>
    <div class="calendrier-form">
        <div class="dates">
            <h3>Dates</h3>
            {% for event in events %}
            <li>
                <div>
                    <div>{{ event.dateStart|date("d/m/Y H:i") }}</div>
                    <div>{{ event.name }}</div>
                </div>
            </ul>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <div class="col justify-content-end bloc-img">
                <div class="row justify-content-center"><h3>Tri des évènements</h3></div>
                {% for event in events %}
                    <div class="row container-img-txt">
                <div class="col-lg-4">
                    <div class="img-container">
                        <img src="https://picsum.photos/400/300?random {{ event.id }}" alt='Picture event'>
                    </div>
                </div>
                <div class="col-lg-3 text-container">
                    <p>Titre: {{ event.name}} </p>
                    <p>lien: {{ event.link }}</p>
                    <p>Date de début:{{ event.dateStart|date("d/m/Y H:i") }}</p>
                    <p>Date de fin : {{ event.dateEnd|date("d/m/Y H:i") }}</p>
                    <p>Description:{{ event.description }}</p>
                    {% if event.registeredEvents.owner == app.user %}
                    <div>Vous êtes l'organisateur</div>
                    {% else %}
                    <div>
                        <form action="" method="post">
                            <div class="register-event-form">
                                <input type="hidden" name="eventId" value={{ event.id }}>
                                <button class='btn btn-primary'>S'inscrire</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <h3 class="part-title">Je propose un événement :</h3>
    </div>
    <div class="container-fluid-event">
        <div class="row align-items-center">
            <div class="col-5 d-flex justify-content-center">
                <div>
                    <div class="overflow-hidden">
                        <img class="item-picture" src="https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Ma nouvelle fiche">
                    </div>
                    <div>
                        <p class="green-string">Modifier</p>
                    </div>
                </div>
            </div>
            <div class="col-7 profile-main-forms">
                <div class="form-event">
                    {{ form_start(formEvent) }}
                    <div class="row">
                        <div class="text-center px-4">Titre</div>
                        <div>{{ form_row(formEvent.name) }}</div>
                    </div>
                    <div class="row">
                        <div class="text-center px-4">Type évènement</div>
                        <div>{{ form_row(formEvent.eventFormat) }}</div>
                    </div>
                    <div class="row">
                        <div class="text-center px-4">Date de début</div>
                        <div>{{ form_row(formEvent.dateStart) }}</div>
                    </div>
                    <div class="row">
                        <div class="text-center px-4">Date de fin</div>
                        <div>{{ form_row(formEvent.dateEnd) }}</div>
                    </div>
                    <div class="row">
                        <div class="text-center px-4">Prix</div>
                        <div>{{ form_row(formEvent.price) }}</div>
                    </div>
                    <div class="row">
                        <div class="text-center px-4">Lien</div>
                        <div>{{ form_row(formEvent.link) }}</div>
                    </div>
                    <div class="row">
                        <div class="text-center px-4">Description</div>
                        <div>{{ form_row(formEvent.description) }}</div>
                    </div>
                    <div class="row">
                        <div class="text-center px-4">Picture</div>
                        <div>{{ form_row(formEvent.picture) }}</div>
                    </div>
                    <div>
                        <button class="btn">{{ button_label|default('Valider') }}</button>
                    </div>
                    {{ form_end(formEvent) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
