{% extends 'base.html.twig' %}

{% block title %} Services {% endblock %}
{% block body %}
    <div>
        <div class="d-flex justify-content-center">
            <h2 class="page-title">Service</h2>
        </div>
        <div class="search">
            {{ form_start(formSearch) }}
            {{ form_widget(formSearch) }}
            <button type="submit" class="search-button home-btn-main">Rechercher</button>
            {{ form_end(formSearch) }}
        </div>
        {% if app.user %}
        <div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="d-flex align-items-center">Je propose :</div>
                <div class="form-modal">
                    <button type="button" class="service-button" data-toggle="modal" data-target="#exampleModalCenter">
                        un service
                    </button>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-black-50" id="exampleModalLongTitle">Nouveau service</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% include '/component/_newservice_edit.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div>
            <h3 class="part-title mt-4">Services Proposés :</h3>
        </div>
        <div class="">
            <div class="row justify-content-start">
                {% if servicesSearch %}
                {% for service in servicesSearch %}
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-4 justify-content-center d-flex align-items-center">
                        <div class="img-container">
                            {% for picture in pictures %}
                                {% if service.picture.id is same as (picture.id) %}
                                    <img class="picture-event" src="/uploads/pictures/{{ picture.name }}" alt='Picture service'>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-5 text-container">
                        <p>Titre: {{ service.name }}</p>
                        <p>Prix: {{ service.price }}</p>
                        {% if is_granted("ROLE_CONTRIBUTOR") %}<p>Lien: <a href="{{ service.link }}" target="_blank">{{ service.link }}</a></p>{% endif %}
                        {% if is_granted("ROLE_CONTRIBUTOR") %}<p>Inscription</p>{% endif %}
                        <p>Description:{{ service.description }}</p>
                    </div>
                {% endfor %}
                {% else %}
                {% for service in services %}
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                        <div class="img-container">
                            {% for picture in pictures %}
                                {% if service.picture.id is same as (picture.id) %}
                                    <img class="picture-service" src="/uploads/pictures/{{ picture.name }}" alt='Picture event'>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-5 text-container">
                        <p>Titre: {{ service.name }}</p>
                        <p>Prix: {{ service.price }}</p>
                        {% if is_granted("ROLE_CONTRIBUTOR") %}<p>Lien: <a href="{{ service.link }}" target="_blank">{{ service.link }}</a></p>{% endif %}
                        {% if is_granted("ROLE_CONTRIBUTOR") %}<p>Inscription</p>{% endif %}
                        <p>Description:{{ service.description }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('profile_service_edit', {'id': service.id}) }}" class="">Editer</a>
                        {% endif %}
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
