{% extends 'base.html.twig' %}

{% block title %} Services {% endblock %}
{% block body %}
    <div>
        <div class="d-flex justify-content-center">
            <h2 class="page-title">Service</h2>
        </div>
        <div class="container-fluid">
            <div>
                <h3 class="part-title">Je propose un service :</h3>
            </div>
            <div class="row justify-content-start">
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <div class="">
                        <div class="form-service">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button class="btn">{{ button_label|default('Valider') }}</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <div class="img-container">
                            <img src="https://picsum.photos/400/200?random=10" alt="photo du service proposé">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="part-title">Mes services :</h3>
        </div>
        <div class="">
            <div class="row justify-content-start">
                {% for service in services %}
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4">
                    <div class="img-container">
                        <img src="https://picsum.photos/400/200?random={{ service.id }}" alt='Picture service'>
                    </div>
                </div>
                <div class="col-lg-5 text-container">
                    <p>Titre: {{ service.name }}</p>
                    <p>Prix: {{ service.price }}</p>
                    <p>Lien: {{ service.link }}</p>
                    <p>Inscription</p>
                    <p>Description:{{ service.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}