{% extends 'base.html.twig' %}

{% block title %} Services {% endblock %}
{% block body %}
    <div>
        <div class="d-flex justify-content-center">
            <h2 class="page-title">Service</h2>
        </div>
        <div class="container-fluid-service">
            <div class="row justify-content-start">
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <li class="nav-item dropdown">
                        <h3 class="part-title nav-link dropdown-toggle btn-lg" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Je propose un service
                            :</h3>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="form-service">
                                {{ form_start(formService) }}
                                <div class="row">
                                    <div class="text-center px-4">Titre</div>
                                    <div>{{ form_row(formService.name) }}</div>
                                </div>
                                <div class="row">
                                    <div class="text-center px-4">Lien</div>
                                    <div>{{ form_row(formService.link) }}</div>
                                </div>
                                <div class="row">
                                    <div class="text-center px-4">Prix</div>
                                    <div>{{ form_row(formService.price) }}</div>
                                </div>
                                <div class="row">
                                    <div class="text-center px-4">Description</div>
                                    <div>{{ form_row(formService.description) }}</div>
                                </div>
                                <div class="row">
                                    <div class="text-center px-4">Picture</div>
                                    <div>{{ form_row(formService.picture) }}</div>
                                </div>
                                <div>
                                    <button class="btn">{{ button_label|default('Valider') }}</button>
                                </div>
                                {{ form_end(formService) }}
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>

        <div>
            <h3 class="part-title">Services Proposés :</h3>
        </div>
        <div class="">
            <div class="row justify-content-start">
                {% for service in services %}
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-4">
                        <div class="img-container">
                            <img src="https://picsum.photos/400/200?random={{ service.id }}" alt='Picture service'>
                        </div>
                    </div>
                    <div class="col-lg-5 text-container">
                        <p>Titre: {{ service.name }}</p>
                        <p>Prix: {{ service.price }}</p>
                        <p>Lien: {{ service.link }}</p>
                        <p>Inscription</p>
                        <p>Description:{{ service.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
