{% extends 'base.html.twig' %}

{% block title %} Services {% endblock %}
{% block body %}
    <div class="service">
        <div class="service-img">
            <div class="cadre-service">
                <div class="d-flex justify-content-center">
                    <h2 class="page-title">Service</h2>
                </div>
                <div class="searchService">
                    {{ form_start(form_search) }}
                    {{ form_widget(form_search) }}
                    <button type="submit" class="search-button home-btn-main search-text">Rechercher</button>
                    {{ form_end(form_search) }}
                </div>
            </div>
        </div>
        <div class="service-publicity row">
            {% if companies_publicity is not empty %}
            <div class="company-publicity row col-6">
                {% for company in companies_publicity %}
                    {% if company.picture is not empty %}
                <div class="company-space" style="background-image: url('/uploads/pictures/{{ company.picture.name }}')">
                    <div class="transbox">
                    <a class="company-title" href="{{path('profile_show', {'id': company.id})}}"><h3>{{ company.company.name }}</h3></a>
                    <p>{{ company.company.description }}</p>
                    </div>
                </div>
                 {% else %}
                     <div class="company-space">
                         <div class="transbox">
                             <a class="company-title" href="{{path('profile_show', {'id': company.id})}}"><h3>{{ company.company.name }}</h3></a>
                             <p>{{ company.company.description }}</p>
                         </div>
                     </div>
                    {% endif %}
                {% endfor %}
            </div>

            {% endif %}
            {% if freelancers_publicity is not empty %}
            <div class="freelancer-publicity row col-6">
                {% for freelancer in freelancers_publicity %}
                    {% if freelancer.picture is not empty %}
                        <div class="freelancer-space" style="background-image: url('/uploads/pictures/{{ freelancer.picture.name }}')">
                            <div class="transbox">
                            <a class="freelancer-title" href="{{path('profile_show', {'id': freelancer.id})}}"><h3>{{ freelancer.freelancer.name  }}</h3></a>
                            <p>{{ freelancer.freelancer.description }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="freelancer-space">
                            <div class="transbox">
                                <a class="freelancer-title" href="{{path('profile_show', {'id': freelancer.id})}}"><h3>{{ freelancer.freelancer.name  }}</h3></a>
                                <p>{{ freelancer.freelancer.description }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% if is_granted('ROLE_CONTRIBUTOR') %}
        <div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal">
                    <button type="button" class="service-button" data-toggle="modal" data-target="#exampleModalCenter">
                        Créer un service
                    </button>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_newservice_edit.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% else %}
        <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalSubscribe">
                        Créer un service
                    </button>
                    <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_modal_button.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% endif %}
        <div>
            {% if services_search %}
            <div>
                <h3 class="part-title mt-4">Services Proposés :</h3>
            </div>
            <div class="row justify-content-start">
                {% for service in services_search %}
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-4 justify-content-center d-flex align-items-center">
                        <div class="img-container">
                            {% for picture in service.pictures %}
                                <a href="/uploads/pictures/{{ picture.name }}" target="_blank"><img class="picture-service" src="/uploads/pictures/{{ picture.name }}" alt='{{ picture.name }}'></a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% include '/service/_delete_picture.html.twig' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-5 text-container">
                        <div class="d-flex container service-block-title pl-0">
                            <div class="pb-2 col-11 pl-0">
                                <h3 class="pb-1 service-title">{{ service.name }}</h3>
                            </div>
                            <div class="row col-2">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('profile_service_edit', {'id': service.id}) }}" class=""><i class="fas fa-edit fa-2x"></i></a>
                                    {% include '/service/_delete_service.html.twig' %}
                                {% endif %}
                            </div>
                        </div>
                        {% if is_granted("ROLE_CONTRIBUTOR") %}<p>Lien: <a href="{{ service.link }}" target="_blank">{{ service.link }}</a></p>{% endif %}
                        {% if is_granted("ROLE_CONTRIBUTOR") %}<p>Inscription</p>{% endif %}
                        <p>Description:{{ service.description }}</p>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="d-flex flex-column justify-content-center align-items-center mt-4 mb-2">
                    <h3 class="proposed-services">Les services proposés :</h3>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        {%  for service in services  %}
                            <div class="container-fluid">
                                <div class="row d-flex justify-content-center pb-3 pt-3">
                                    <div class="col-lg-5 d-flex justify-content-center align-items-center">
                                        <div class="img-container">
                                            {% for picture in service.pictures %}
                                                <a href="/uploads/pictures/{{ picture.name }}" target="_blank"><img class="picture-service" src="/uploads/pictures/{{ picture.name }}" alt='{{ picture.name }}'></a>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    {% include '/service/_delete_picture.html.twig' %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-10 col-md-8 col-lg-5 pt-4 pb-4">

                                        <div class="d-flex container service-block-title pl-0">
                                            <div class="pb-2 col-11 pl-0">
                                            <h3 class="pb-1 service-title">{{ service.name }}</h3>
                                            </div>
                                            <div class="row col-3 button-edit-delete">
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <a href="{{ path('profile_service_edit', {'id': service.id}) }}" class=""><i class="fas fa-edit fa-2x"></i></a>
                                                    {% include '/service/_delete_service.html.twig' %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div>
                                            {% if is_granted('ROLE_CONTRIBUTOR') %}
                                                <div class="mt-4">
                                                    Document : <a class="service-link" href="{{ service.link }}" target="_blank">Lien externe vers le service</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row d-flex justify-content-center pt-3 pb-3">
                                            <div class="pl-3">Description :</div>
                                            <p class="col">
                                                {{ service.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row d-flex justify-content-center">
                                    <div class="border-bottom col-md-8">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}



