{% extends 'base.html.twig' %}

{% block title %}
    Détail de la connaissance
{% endblock %}

{% block body %}
<div class="knowledge">
    <div class="knowledge-full-screen">
        <div class="knowledge-image">
            <div class="knowledge-page">
                <div class="d-flex justify-content-center">
                    <h2 class="page-title">Connaissances</h2>
                </div>
                <div class="search">
                    <div class="form">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form_start(form_search) }}
                                {{ form_widget(form_search.search) }}
                                <button type="submit" class="search-button home-btn-main search-text">Rechercher</button>
                                <button type="submit" class="search-button home-btn-main search-loop"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        <div class=" d-flex row justify-content-around mt-4 option-search">
                            <div class="col-lg-4 search-format">
                                {{ form_widget(form_search.format) }}
                            </div>
                            <div class="col-lg-6 search-category dropdown-toggle">
                                {{ form_widget(form_search.pathology) }}
                            </div>
                        </div>
                        {{ form_end(form_search) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="knowledge-publicity row">
            {% if company is not empty %}
                <div class="company-publicity row">
                    <div class="company-image col-4">
                        {% if company.picture is not empty %}
                        <img class="picture-service" src="/uploads/pictures/{{ company.picture.name }}" alt='{{ company.picture.name }}'>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <a href="{{path('profile_show', {'id': company.id})}}"><h4>{{ company.company.name }}</h4></a>
                        {{ company.company.description }} <br>
                        {{ company.email }}
                    </div>
                </div>
            {% endif %}
            {% if freelancer is not empty %}
                <div class="freelancer-publicity row">
                    <div class="freelancer-image col-4">
                        {% if freelancer.picture is not empty %}
                        <img class="picture-service" src="/uploads/pictures/{{ freelancer.picture.name }}" alt='{{ freelancer.picture.name }}'>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <a href="{{path('profile_show', {'id': freelancer.id})}}"><h4>{{ freelancer.freelancer.name }}</h4></a>
                        {{ freelancer.freelancer.description }} <br>
                        {{ freelancer.email }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="two-btn">
            <div class="search-all-form-container">
                {{ form_start(form_search_all) }}
                {{ form_widget(form_search_all) }}
                <button type="submit" class="knowledge-see">Voir toutes les connaissances</button>
                {{ form_end(form_search_all) }}
            </div>

            {% if is_granted('ROLE_CONTRIBUTOR') %}
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                    <div class="form-modal">
                        <button type="button" class="knowledge-button" data-toggle="modal" data-target="#exampleModalCenter">
                            Créer une connaissance
                        </button>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% include '/component/_newfiche_edit.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-modal">
                    <button type="button" class="knowledge-button" data-toggle="modal" data-target="#exampleModalCenterVisio">
                        Créer une visioconférence
                    </button>
                    <div class="modal fade" id="exampleModalCenterVisio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_new_visio.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                    <div class="form-modal">
                        <button type="button" class="btn" data-toggle="modal" data-target="#modalSubscribe">
                            Créer une connaissance
                        </button>
                        <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% include '/component/_profil_subscribe_modal.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-modal">
                        <button type="button" class="btn" data-toggle="modal" data-target="#modalSubscribe">
                           Créer une visioconférence
                        </button>
                        <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% include '/component/_profil_subscribe_modal.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if resources_search is empty %}
        <h3 class="text-center"> Aucun résultat ne correspond malheureusement à votre recherche...</h3>
        {% elseif resources_search != last %}
        <div class="d-flex flex-wrap justify-content-center">
            {% for resource in resources_search %}
            <div class="container-fluid">
                <div class="row d-flex justify-content-center pb-3 pt-3">
                    <div class="col-8 col-lg-5 pb-4">
                        <div class="d-flex container pl-0">
                            {% if resource.dateStart %}
                            <div class="pl-0 pb-2 col-11">
                                <h3 class="pb-1 knowledge-visio-title"><i class="fas fa-play-circle"></i> Visioconférence : {{ resource.name }}</h3>
                            </div>
                            {% else %}
                            <div class="pl-0 pb-2 col-11">
                                <h3 class="pb-1 knowledge-title">{{ resource.name }}</h3>
                            </div>
                            {% endif %}
                            <div class="row m-lg-2">
                                <div class="col-2 d-flex">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('profile_resource_edit', {'id': resource.id}) }}" class=""><i class="fas fa-edit fa-2x"></i></a>
                                    {% include '/knowledge/_delete_knowledge.html.twig' %}
                                {% endif %}
                                {% if resource.resourceFiles is empty %}
                                    <div></div>
                                {% else %}
                                    {% for resourceFile in resource.resourceFiles %}
                                        {% if resource.price == 0 %}
                                            <a href="/uploads/resources/{{ resourceFile.name }}" target="_blank"><i class="{{ resource.resourceFormat.icon }}"></i></a>
                                        {% else %}
                                            <i class="{{ resource.resourceFormat.icon }}"></i>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            {% include '/knowledge/_delete_resourceFile.html.twig' %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="pb-1">
                                Dernière mise à jour : {{ resource.updatedAt|date("d/m/Y") }}
                            </div>
                            {% if resource.dateStart is not empty %}
                                <div class="pb-1">
                                    Début de la conférence le  : {{ resource.dateStart|date("d/m/Y h:s") }}
                                </div>
                            {% endif %}
                            {% if resource.dateEnd is not empty %}
                                <div class="pb-1">
                                    Fin de la conférence le : {{ resource.dateEnd|date("d/m/Y h:s") }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="row d-flex flex-column flex-lg-row justify-content-center pt-2 pb-1">
                            <div class="pl-3">Description :</div>
                            <p class="col">
                                {{ resource.description }}
                            </p>
                        </div>
                        {% if resource.price == 0 %}
                            <div class="pl-0">Lien de la visioconférence: <a href="{{ resource.link }}" target="_blank">{{ resource.link }}</a></div>
                        {% endif %}
                        <div class="pt-4">
                            <p class="col pl-0">
                                Prix :{{ resource.price }}€
                            </p>
                            {% if is_granted('ROLE_ENTERPRISE')%}
                                {% if resource.price > 0 %}
                                <a href="{{ path('basket_add', {'id' : resource.id}) }}"><button class="btn"><i class="fas fa-shopping-cart"></i> Ajouter au panier</button></a>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="border-bottom col-md-8">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="d-flex flex-wrap justify-content-center">
            {%  for resource in resources_last_update  %}
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center pb-3 pt-3">
                        <div class="col-8 col-lg-5 pb-4">
                            <div class="d-flex container pl-0">
                                {% if resource.dateStart %}
                                    <div class="pl-0 pb-2 col-11">
                                        <h3 class="pb-1 knowledge-visio-title"><i class="fas fa-play-circle"></i> Visioconférence : {{ resource.name }}</h3>
                                    </div>
                                {% else %}
                                    <div class="pl-0 pb-2 col-11">
                                        <h3 class="pb-1 knowledge-title">{{ resource.name }}</h3>
                                    </div>
                                {% endif %}
                                <div class="row m-lg-2">
                                    <div class="col-2 d-flex ">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('profile_resource_edit', {'id': resource.id}) }}" class=""><i class="fas fa-edit fa-2x"></i></a>
                                        {% include '/knowledge/_delete_knowledge.html.twig' %}
                                    {% endif %}
                                        {% if resource.resourceFiles is empty %}
                                            <div></div>
                                        {% else %}
                                            {% for resourceFile in resource.resourceFiles %}
                                                {% if resource.price == 0 %}
                                                <a href="/uploads/resources/{{ resourceFile.name }}" target="_blank"><i class="{{ resource.resourceFormat.icon }}"></i></a>
                                                {% else %}
                                                <i class="{{ resource.resourceFormat.icon }}"></i>
                                                {% endif %}
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    {% include '/knowledge/_delete_resourceFile.html.twig' %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="pb-1">
                                    dernière mise à jour : {{ resource.updatedAt|date("d/m/Y") }}
                                </div>
                                {% if resource.dateStart is not empty %}
                                <div class="pb-1">
                                    Début de la conférence le  : {{ resource.dateStart|date("d/m/Y h:s") }}
                                </div>
                                {% endif %}
                                {% if resource.dateEnd is not empty %}
                                <div class="pb-1">
                                    Fin de la conférence le : {{ resource.dateEnd|date("d/m/Y h:s") }}
                                </div>
                                {% endif %}
                            </div>
                            <div class="row d-flex flex-column flex-lg-row  justify-content-center pt-2 pb-1">
                                <div class="pl-3">Description :</div>
                                <p class="col">
                                    {{ resource.description }}
                                </p>
                            </div>
                            {% if resource.price == 0 %}
                                {% if resource.dateStart %}
                                <div class="pl-0">Lien de la visioconférence: <a href="{{ resource.link }}" target="_blank">{{ resource.link }}</a></div>
                                    {% else %}
                                        {% if resource.link is not empty %}
                                        <div class="pl-0">Lien de la ressource: <a href="{{ resource.link }}" target="_blank">{{ resource.link }}</a></div>
                                        {% endif %}
                                {% endif %}
                            {% endif %}
                            <div>
                                <p class="col pl-0 pt-3">
                                    Prix : {{ resource.price }}€
                                </p>
                                {% if is_granted('ROLE_ENTERPRISE')%}
                                    {% if resource.price > 0 %}
                                 <a href="{{ path('basket_add', {'id' : resource.id}) }}"><button class="btn"><i class="fas fa-shopping-cart"></i> Ajouter au panier</button></a>
                                    {% endif %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="border-bottom col-md-8">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

