{% extends 'base.html.twig' %}

{% block title %}
    Détail de la connaissance
{% endblock %}

{% block body %}
    <div class="firstdiv knowledge-page">
    <div class="d-flex justify-content-center search-bar">
        <h2 class="pb-5">Connaissances</h2>
    </div>
    <div class="d-flex justify-content-center search-bar">
        {% if length == true %}
            <h3 class="pb-5">Toutes les connaissances</h3>
        {% elseif length == false %}
            <h3 class="pb-5">Les 10 dernières connaissances</h3>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center">
        {% if length == false %}
            <div class="knowledge-button">
                <a href="{{ path('knowledge_index', {'length': 'last'}) }}">Voir toutes les connaissances</a>
            </div>
        {% elseif length == true %}
            <div class="knowledge-button">
                <a href="{{ path('knowledge_index', {'length': 'all'}) }}">Voir les dernières connaissances</a>
            </div>
        {% endif %}
        {% if is_granted("ROLE_CONTRIBUTOR") %}
        <div class="profile-button-container d-flex flex-wrap justify-content-center">
            <div class="form-modal">
                {# <a href="#nouveau-resource">Nouvelle connaissance</a> #}
                <!-- Button trigger modal -->
                <button type="button" class="knowledge-button" data-toggle="modal" data-target="#exampleModalCenter">
                    Nouvelle connaissance
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Nouvelle connaissance</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% include '/component/_newfiche_edit.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% for resource in resources %}
        <div class="container-fluid">
            <div class="row d-flex justify-content-center pb-3 pt-3">
                <div class="col-5 pb-4">
                    <div class="pb-2">
                        <h3 class="pb-1 knowledge-title">{{ resource.name }}</h3>
                    </div>
                    <div>
                        <div class="pb-1">
                            Lien proposé par :
                            <a class="knowledge-link" href="#">{{ resource.user.firstname }}</a>
                        </div>
                        <div class="pb-1">
                            dernière mise à jour : {{ resource.updatedAt|date("d/m/Y") }}
                        </div>
                        <div class="mt-4">
                            Document : <a class="knowledge-link" href="{{ resource.link }}">Lien externe vers la ressource</a>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center pt-3 pb-3">
                        <div class="pl-3">Description :</div>
                        <p class="col">
                            {{ resource.description }}
                        </p>
                    </div>

                </div>
                <div class="">
                    <div>
                        <img src="{{ resource.resourceFormat.icon }}" class="knowledge-img" alt="{{ resource.resourceFormat.format }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="border-bottom col-md-8">
                </div>
            </div>
        </div>
    {% endfor %}
{# {% if is_granted("ROLE_CONTRIBUTOR") %}
            <div>
                {% include '/component/_newfiche_edit.html.twig' %}
            </div>
        {% endif %} #}
    </div>
{% endblock %}
