{% extends 'base.html.twig' %}

{% block title %}
    Détail de la connaissance
{% endblock %}

{% block body %}
<div class="knowledge">
    <div class="knowledge-full-screen">
        <div class="knowledge-image">
            <div class="knowledge-page">
                <div class="d-flex justify-content-center">
                    <h2 class="page-title">Connaissances</h2>
                </div>

                <div class="search">
                    <div class="form">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form_start(form_search) }}
                            {{ form_widget(form_search.search) }}
                            <button type="submit" class="search-button home-btn-main search-text">Rechercher</button>
                            <button type="submit" class="search-button home-btn-main search-loop"><i class="fas fa-search"></i></button>

                            </div>

                        </div>
                        <div class=" d-flex row justify-content-around mt-4 option-search">
                            {{ form_widget(form_search.format) }}
                            {{ form_widget(form_search.pathology) }}
                        </div>
                        {{ form_end(form_search) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="two-btn">
            <div class="search-all-form-container">
                {{ form_start(form_search_all) }}
                {{ form_widget(form_search_all) }}
                <button type="submit" class="knowledge-see">Voir toutes les connaissances</button>
                {{ form_end(form_search_all) }}
            </div>

            {% if is_granted('ROLE_CONTRIBUTOR') %}
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                    <div class="form-modal">
                        <button type="button" class="knowledge-button" data-toggle="modal" data-target="#exampleModalCenter">
                            Créer une connaissance
                        </button>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% include '/component/_newfiche_edit.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if resources_search is empty %}
        <h3 class="text-center"> Aucun résultat ne correspond malheureusement à votre recherche...</h3>
        {% elseif resources_search != last %}
        <div class="d-flex flex-wrap justify-content-center">
            {% for resource in resources_search %}
            <div class="container-fluid">
                <div class="row d-flex justify-content-center pb-3 pt-3">
                    <div class="col-8 col-lg-5 pb-4">
                        <div class="d-flex container pl-0">
                            <div class="pl-0 pb-2 col-11">
                                <h3 class="pb-1 knowledge-title">{{ resource.name }}</h3>
                            </div>
                            <div class="row m-lg-2">
                                <div class="col-2 d-flex">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('profile_resource_edit', {'id': resource.id}) }}" class=""><i class="fas fa-edit fa-2x"></i></a>
                                    {% include '/knowledge/_delete_knowledge.html.twig' %}
                                {% endif %}
                                {% if resource.resourceFiles is empty %}
                                    <div></div>
                                {% else %}
                                    {% for resourceFile in resource.resourceFiles %}
                                    <a href="/uploads/resources/{{ resourceFile.name }}" target="_blank"><i class="{{ resource.resourceFormat.icon }}"></i></a>
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="pb-1">
                                dernière mise à jour : {{ resource.updatedAt|date("d/m/Y") }}
                            </div>
                            {% if is_granted('ROLE_CONTRIBUTOR') %}
                            <div class="mt-4">
                                Document : <a class="knowledge-link" href="{{ resource.link }}" target="_blank">Lien externe vers la ressource</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row d-flex flex-column flex-lg-row justify-content-center pt-3 pb-3">
                            <div class="pl-3">Description :</div>
                            <p class="col">
                                {{ resource.description }}
                            </p>
                        </div>
                        <div>
                            <p class="col">
                                Prix :{{ resource.price }}€
                            </p>
                            {# <a href="{{ path('basket_add', {'id' : resource.id}) }}"><button class="btn-primary">Ajouter au panier</button></a> #}
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="border-bottom col-md-8">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="d-flex flex-wrap justify-content-center">
            {%  for resource in resources_last_update  %}
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center pb-3 pt-3">
                        <div class="col-lg-4 justify-content-center d-flex align-items-center">
                            <div class="img-container">
                                {% for file in resource.resourceFiles %}
                                    <img class="file-resource" src="/uploads/resources/{{ file.name }}" alt='{{ file.name }}'>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-8 col-lg-5 pb-4">
                            <div class="d-flex container pl-0">
                                <div class="pb-2 col-11 pl-0">
                                    <h3 class="pb-1 knowledge-title">{{ resource.name }}</h3>
                                </div>
                                <div class="row m-lg-2">
                                    <div class="col-2 d-flex ">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('profile_resource_edit', {'id': resource.id}) }}" class=""><i class="fas fa-edit fa-2x"></i></a>
                                        {% include '/knowledge/_delete_knowledge.html.twig' %}
                                    {% endif %}
                                        {% for resourceFile in resource.resourceFiles %}
                                        {% if resourceFile.name is empty %}
                                            <div></div>
                                        {% else %}
                                            <a href="/uploads/resources/{{ resourceFile.name }}" target="_blank"><i class="{{ resource.resourceFormat.icon }}"></i></a>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="pb-1">
                                    dernière mise à jour : {{ resource.updatedAt|date("d/m/Y") }}
                                </div>
                                {% if is_granted('ROLE_CONTRIBUTOR') %}
                                    <div class="mt-4">
                                        Document : <a class="knowledge-link" href="{{ resource.link }}" target="_blank">Lien externe vers la ressource</a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row d-flex flex-column flex-lg-row  justify-content-center pt-3 pb-3">
                                <div class="pl-3">Description :</div>
                                <p class="col">
                                    {{ resource.description }}
                                </p>
                            </div>
                            <div>
                                <p class="col">
                                    Prix : {{ resource.price }}€
                                </p>
                                {# <a href="{{ path('basket_add', {'id' : resource.id}) }}"><button class="btn-dark">Ajouter au panier</button></a> #}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="border-bottom col-md-8">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
