{% extends 'base.html.twig' %}

{% block title %} Page admin {% endblock %}
{% block body %}
    <div class="admin-page">
        <div class="input-group admin-title">
            <div class="d-flex justify-content-center">
                <h2 class="page-title">• Ma page Admin •</h2>
            </div>
            <div class="container admin-count-block">
                <div class="row col-3">
                    <div class="flex-column">
                        <div class="justify-content-center admin-count">{{ registered_user_count }}</div>
                        <div class="justify-content-center admin-count-title">Nombre d'inscrits</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button class="home-btn-second "><a href="{{ path('admin_message') }}" class="text-white">Voir les messages</a></button>
        </div>
        <div class="container-fluid admin-create mt-5">
            <div class="col-3 border">
                <div class="container d-flex justify-content-center mt-3 mb-5">
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    <button type="submit" class="home-btn-second">Créer une catégorie</button>
                    {{ form_end(form) }}
                </div>
                <div class="block-list mt-5">
                    <div>
                        <h4>Les Catégories en ligne</h4>
                    </div>
                    <div class="text-center users-list">
                        {% for pathology in pathologies %}

                                <div class="d-flex pb-1">
                                    <p class="justify-content-start">{{ loop.index }}. {{ pathology.name }} </p>
                                    <br>
                                </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-3 border">
                <div class="container d-flex justify-content-center mt-3 mb-5">
                    {% form_theme form_expertise 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form_expertise) }}
                    {{ form_widget(form_expertise) }}
                    <button type="submit" class="home-btn-second">Créer une expertise</button>
                    {{ form_end(form_expertise) }}
                </div>
                <div class="block-list mt-5">
                    <div>
                        <h4>Les Expertises en ligne</h4>
                    </div>
                    <div class="text-center users-list">
                        {% for expertise in expertises %}

                                <div class="d-flex pb-1">
                                    <p class="justify-content-start">{{ loop.index }}. {{ expertise.name }} </p>
                                </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-3 border">
                <div class="container d-flex justify-content-center mt-3 mb-5">
                    {% form_theme form_resource_format 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form_resource_format) }}
                    {{ form_widget(form_resource_format) }}
                    <button type="submit" class="home-btn-second">Créer un format de ressources</button>
                    {{ form_end(form_resource_format) }}
                </div>
                <div class="block-list mt-5">
                    <div>
                        <h4>Les Formats des ressources disponibles</h4>
                    </div>
                    <div class="text-center users-list">
                        {% for format in formats %}

                                <div class="d-flex pb-1">
                                    <p href="#" class="justify-content-start">{{ loop.index }}. {{ format.format }} </p>
                                </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-3 border">
                <div class="container d-flex justify-content-center mt-3 mb-5">
                    {% form_theme form_event_format 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form_event_format) }}
                    {{ form_widget(form_event_format) }}
                    <button type="submit" class="home-btn-second">Créer un format pour les évènements</button>
                    {{ form_end(form_event_format) }}
                </div>
                <div class="block-list mt-5">
                    <div>
                        <h4>Les Formats des évènements disponibles</h4>
                    </div>
                    <div class="text-center users-list">
                        {% for format in event_formats %}

                                <div class="d-flex pb-1">
                                    <p href="#" class="justify-content-start">{{ loop.index }}. {{ format.format }} </p>
                                </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-create flex-column my-5">
            <div class="d-flex justify-content-center">
                <h4>Liste des inscrits </h4>
            </div>
            <div class="d-flex justify-content-center">
            <div class="row text-center users-list col-9">
                {% for listed_user in registered_user %}
                    {% if app.user.id != listed_user.id %}
                        <div class="col-4">
                            <div class="d-flex pb-1">
                                {{ include('admin/_delete_user.html.twig') }}
                                <a href="#" class="justify-content-start user-link">{{ loop.index}}. {% if listed_user.company %} {{ listed_user.company.name }} {% endif %}
                                    {% if listed_user.freelancer%} {{ listed_user.freelancer.name }} {% endif %}
                                    {% if listed_user.dietetician %} {{ listed_user.dietetician.lastname }} {{ listed_user.dietetician.firstname }}{% endif %}</a>
                                <br>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        </div>
        <div class="admin-create flex-column my-5">
            <div class="d-flex justify-content-center">
                <h4>Liste des évènements à valider </h4>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row text-center users-list col-9">
                {% for event in event_for_validation %}
                    <div class="col-4">
                        <div class="d-flex pb-1">
                            <a href="{{ path('profile_event_edit', {'id': event.id}) }}" class="justify-content-start user-link"><p class="font-weight-bold">{{ loop.index}}. {{ event.name }}</p>
                                <br> Posté par :
                            {% for registered in registered_events %}
                                {% if registered.event.id == event.id %}
                                    {% if registered.isOrganizer == true %}
                                        {% if registered.user.company %} {{ registered.user.company.name }} {% endif %}
                                        {% if registered.user.freelancer %} {{ registered.user.freelancer.name }} {% endif %}
                                        {% if registered.user.dietetician%} {{ registered.user.dietetician.firstname }}  {{ registered.user.dietetician.lastname }} {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </a>
                            <form method="post" action="{{ path('valid_event') }}"><input type="hidden" value="{{ event.id }}" name="event"><button>Ok</button></form>
                            <br>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="admin-create flex-column my-5">
            <div class="d-flex justify-content-center">
                <h4>Liste des évènements </h4>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row text-center users-list col-9">
                    {% for event in events %}
                        <div class="col-4">
                            <div class="d-flex pb-1">
                                {% include '/event/_delete_event.html.twig' %}
                                <a href="{{ path('profile_event_edit', {'id': event.id}) }}" class="justify-content-start user-link"><p class="font-weight-bold">{{ loop.index}}. {{ event.name }}</p>
                                    <br> Posté par :
                                    {% for registered in registered_events %}
                                        {% if registered.event.id == event.id %}
                                            {% if registered.isOrganizer == true %}
                                                {% if registered.user.company %} {{ registered.user.company.name }} {% endif %}
                                                {% if registered.user.freelancer %} {{ registered.user.freelancer.name }} {% endif %}
                                                {% if registered.user.dietetician%} {{ registered.user.dietetician.firstname }}  {{ registered.user.dietetician.lastname }} {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                                <br>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="admin-create flex-column my-5">
            <div class="d-flex justify-content-center">
                <h4>Liste des services à valider </h4>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row text-center users-list col-9">
                {% for service in service_for_validation %}
                    <div class="col-4">
                        <div class="d-flex pb-1">
                            <a href="{{ path('profile_service_edit', {'id': service.id}) }}" class="justify-content-start user-link"><p class="font-weight-bold">{{ loop.index}}. {{ service.name }}</p>
                               <br> Posté par:
                                {% if service.user.company %} {{ service.user.company.name }} {% endif %}
                                {% if service.user.freelancer %} {{ service.user.freelancer.name }} {% endif %}
                                {% if service.user.dietetician%} {{ service.user.dietetician.firstname }}  {{ service.user.dietetician.lastname }} {% endif %} </a>
                            <form method="post" action="{{ path('valid_service') }}"><input type="hidden" value="{{ service.id }}" name="service"><button>Ok</button></form>
                            <br>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="admin-create flex-column my-5">
                <div class="d-flex justify-content-center">
                    <h4>Liste des services </h4>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="row text-center users-list col-9">
                        {% for service in services %}
                            <div class="col-4">
                                <div class="d-flex pb-1">
                                    {% include '/service/_delete_service.html.twig' %}
                                    <a href="{{ path('profile_service_edit', {'id': service.id}) }}" class="justify-content-start user-link"><p class="font-weight-bold">{{ loop.index}}. {{ service.name }}</p>
                                        <br> Posté par :
                                        {% if service.user.company %} {{ service.user.company.name }} {% endif %}
                                        {% if service.user.freelancer %} {{ service.user.freelancer.name }} {% endif %}
                                        {% if service.user.dietetician %} {{ service.user.dietetician.firstname }}  {{ service.user.dietetician.lastname }} {% endif %}
                                    </a>
                                    <br>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
