{% extends 'base.html.twig' %}

{% block title %}Liste des messages{% endblock %}

{% block body %}
<div class="message pt-5">
    <h2 class="pt-5 pb-4 text-center">Vos messages</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom, Prénom</th>
            <th>Email</th>
            <th>Message</th>
            <th>Date d'envoi</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.lastname }} {{ message.firstname }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.createdAt |date("d/m/Y H:i")}}</td>
                <td>
                    {{ include('admin/_delete_message.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        {{ knp_pagination_render(messages) }}
        </tbody>
    </table>
</div>
{% endblock %}
