{% extends 'base.html.twig' %}

{% block title %} Page admin {% endblock %}
{% block body %}
    <div class="shopping-page">
        <div class="input-group shopping-title">
            <div class="d-flex justify-content-center">
                <h2 class="page-title">• Listing du shopping •</h2>
            </div>
        </div>
        <div>
            <div class="text-center shopping-list">
                <h3>Achats</h3>
            <table>
                    <thead>
                        <tr>
                            <td>Achats</td>
                            <td>Date d'achats</td>
                            <td>Acheteurs</td>
                            <td>Montant</td>
                            <td>Propriétaires</td>
                        </tr>
                    </thead>
                    <tbody>
                         {% for purchase in shopping %}
                            <tr>
                                <td>{{ purchase.name }}</td>
                                <td>{{ purchase.realizedAt|date("d/m/Y H:i:s") }}</td>
                                <td>{{ purchase.buyer}}</td>
                                <td>{{ purchase.amount }}</td>
                                <td>{{ purchase.owner }}</td>
                            </tr>
                         {% endfor %}
                    </tbody>
            </table>
            </div>
        </div>
        <div>
            <div class="text-center shopping-list">
                <h3>Abonnements Freelancers</h3>
                <table>
                    <thead>
                    <tr>
                        <td>Date d'achats</td>
                        <td>Acheteurs</td>
                        <td>Montant</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for freelancer_subscription in freelancer_subscriptions %}
                        <tr>
                            <td>{{ freelancer_subscription.realizedAt|date("d/m/Y H:i:s") }}</td>
                            <td>{{ freelancer_subscription.buyer}}</td>
                            <td>{{ freelancer_subscription.amount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="text-center shopping-list">
                <h3>Abonnements Sociétés</h3>
                <table>
                    <thead>
                    <tr>
                        <td>Date d'achats</td>
                        <td>Acheteurs</td>
                        <td>Montant</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company_subscription in company_subscriptions %}
                        <tr>
                            <td>{{ company_subscription.realizedAt|date("d/m/Y H:i:s") }}</td>
                            <td>{{ company_subscription.buyer}}</td>
                            <td>{{ company_subscription.amount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
