{% extends 'base.html.twig' %}

{% block title %}
    Liste des connaissances
{% endblock %}

{% block body %}
    <div class="firstdiv">
        <div class="search">
            {% form_theme formSearch 'bootstrap_4_layout.html.twig' %}
            {{ form_start(formSearch) }}
            <div class="d-flex flex-column">
                <div class="d-flex">
                    {{ form_row(formSearch.search) }}
                    <button type="submit" class="buttons-search-bar search-button home-btn-main">Rechercher</button>
                </div>
                <div class="d-flex justify-content-start">
                    {{ form_row(formSearch.format) }}
                    {{ form_row(formSearch.pathology) }}
                </div>
            </div>
            <div class="search-all-form-container">
                {{ form_end(formSearch) }}
                {{ form_start(form_search_all) }}
                {{ form_widget(form_search_all) }}
                <button type="submit" class="buttons-search-bar search-button home-btn-main">Tout voir</button>
                {{ form_end(form_search_all) }}
            </div>
        </div>
        {% if resourcesSearch is empty %}
            <h3 class="text-center"> Aucun résultat ne correspond malheureusement à votre recherche...</h3>
        {% elseif resourcesSearch != last %}
            <div class="d-flex flex-wrap justify-content-center">
                {% for resource in resourcesSearch %}
                    {% include 'component/ressource/_ressource_informations.html.twig' %}
                    <div class="card-container justify-content-center">
                        <div class="test-card">
                            {% include '/component/_card.html.twig' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
    </div>
    <div class="d-flex justify-content-center next-event">
        {% for event in events%}
            <div>
                <h3 class="font-weight-bold">Notre prochain événement est :</h3>
            </div>
            <div>
                <h4 class="m-4 text-center"><span class="font-weight-bold">{{ event.dateStart|date("d/m/Y H:i") }} - {{ event.name }}</span>  - <span class="font-italic">{{ event.description }}</span></h4>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        {%  for resource in resourcesLastUpdate  %}
            {% include 'component/ressource/_ressource_informations.html.twig' %}
            <div class="card-container justify-content-center">
                <div class="test-card">
                    {% include '/component/_card.html.twig' %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
