{% extends 'base.html.twig' %}

{% block title %}
    Liste des connaissances
{% endblock %}

{% block body %}
    <div class="container-fluid-resource">
        <div class="firstdiv">
            <div class="cadre-title">
                Bienvenue sur Nous les Diets !!! </br><p class="plateform"> Plateforme de partage de connaissances  </br> entre diététiciens.</p>
                <button id="welcome-arrow" class="btn-cadre">
                    <i class="fas fa-1x fa-arrow-circle-down"></i>
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-center next-event">
            <div>
                <h3 id="ressource-event" class="font-weight-bold">Les prochains événements sont :</h3>
                <i class="far fa-2x fa-calendar-alt"></i><a href="{{ path('event_index')}}"><i class="fas fa-2x fa-arrow-circle-right"></i></a>
            </div>
            {% for event in events%}
                <div>
                    <h4 class="m-4 text-center"><span class="font-weight-bold">{{ event.dateStart|date("d/m/Y H:i") }} - {{ event.name }}</span>  - <span class="font-italic">{{ event.description }}</span></h4>
                </div>
            {% endfor %}
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="border-bottom col-md-8">
                    </div>
                </div>
            </div>
        </div>
        <div class="next-knowledge">
            <div class="next-knowledge-title">
                <h3 class="font-weight-bold">Les dernières connaissances :</h3>
                <i class="fas fa-2x fa-brain"></i><a href="{{ path('knowledge_index')}}"><i class="fas fa-2x fa-arrow-circle-right"></i></a>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
            {%  for resource in resources_last_update  %}
                {% include 'component/ressource/_ressource_informations.html.twig' %}
                <div class="card-container justify-content-center">
                    <div class="test-card">
                        {% include '/component/_card.html.twig' %}
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="border-bottom col-md-8">
                    </div>
                </div>
            </div>
        </div>
        <div class="next-service">
            <div class="next-service-title">
                <h3 class="font-weight-bold">Les derniers services :</h3>
                <i class="fas fa-2x fa-handshake"></i><a href="{{ path('service_index')}}"><i class="fas fa-2x fa-arrow-circle-right"></i></a>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                {%  for service in services_last_update %}
                    {% include 'component/service/_service_informations.html.twig' %}
                    <div class="card-container justify-content-center">
                        <div class="test-card">
                         {% include '/component/_card.html.twig' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
