<!-- Modal -->
{% set infos = resource.user %}
<div class="modal fade" id="id{{ resource.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-resource">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle">{{ resource.name }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ resource.description }}</p>
                <p class="font-weight-bold text-right">{% include '/component/_name_for_all_role.html.twig' %}</p>

                <p class="font-italic text-right"> Mis à jour le {{ resource.updatedAt|date("d/m/Y") }}</p>
                <div class="d-flex justify-content-center">
                    <div class="ressource-link mt-3 mb-3">
                        <p class="ressource-modal-title">ressource</p>
                    </div>
                </div>
                {% set format = resource.resourceformat %}
                <div class="d-flex justify-content-around">
                    <div class="d-flex justify-content-start align-items-center">
                        <i class="{{ format.icon }}"></i>
                        <div class="ml-2">{{ format.identifier }}</div>
                    </div>
                    {% if format.identifier == "site web" or format.identifier == "autre" %}
                        <a href="{{ resource.link }}" target="_blank">
                            <button class="btn-outline-info ressource-link-button">Voir le lien</button>
                        </a>
                    {% else %}
                        {% for resourceFile in resource.resourceFiles %}
                        <form action="{{ path('ressource_download') }}" method="post" >
                            <input id="path" name="path" type="hidden" value="{{ resourceFile.name }}">
                            <button class="btn-outline-info ressource-link-button">Télécharger</button>
                        </form>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer ressource-modal-bottom">
                    <button type="button" class="btn" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>

