<!-- Modal -->
<div class="modal fade" id="id{{ event_organized.event.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-resource">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle">{{ event_organized.event.name }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ event_organized.event.description }}</p>
                <p class="font-weight-bold text-right">{{ event_organized.user.firstname }} {{ event_organized.user.lastname }}</p>
                {# <p class="font-italic text-right"> Mis à jour le {{ resource.updatedAt|date("d/m/Y") }}</p> #}
                <div class="d-flex justify-content-center">
                    <div class="ressource-link mt-3 mb-3">
                        <p class="ressource-modal-title">Evènement</p>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                        <a href="{{ event_organized.event.link }}" target="_blank">
                            <button class="btn-outline-info ressource-link-button">Voir le lien</button>
                        </a>
                </div>
                <div class="modal-footer ressource-modal-bottom">
                    <button type="button" class="btn" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>