{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block contact %}
    <div class="contact">
        <div class="background-image page-contact">
            <div class="divbody"><h2 class="page-title">Contactez-moi <i class="far fa-envelope"></i></h2></div>
            <div class="contact-form">
            <section class="contact-diet">
                <ul class="ul-contact">
                    <li class="item-contact">
                        Alexandra Jacob
                    </li>
                    <li class="item-contact">
                        Rue des diéts - 33000 Bordeaux
                    </li>
                    <li class="item-contact">
                        06.07.09.08.10
                    </li>
                    <li class="item-contact">
                        contact@alexandra-jacob-diet.fr
                    </li>
                    <li class="item-contact">
                        www.alexandra-jacob-dieteticienne.fr
                    </li>
                </ul>
            </section>
                <div class="col-7 profile-main-forms">
                    <div class="form-service">
                        {% form_theme form_contact 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(form_contact) }}
                        {{ form_row(form_contact.lastname) }}
                        {{ form_row(form_contact.firstname) }}
                        {{ form_row(form_contact.email) }}
                        {{ form_row(form_contact.phone) }}
                        {{ form_row(form_contact.message) }}
                        <div class="d-flex flex-row-reverse">
                            <button class="btn mt-5">{{ button_label|default('Envoyer le message') }}</button>
                        </div>
                        {{ form_end(form_contact) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
