<div class="box">
    <div class="box-inner">
        <div class="box-front ">
            <img
                    src="https://picsum.photos/200/300?random={{ random(100,300) }}"
                    class="card-img "
                    alt="..."
            />

            <div class="card-img-overlay ">
                <h5 class="card-title">{{ resource.name }}</h5>
            </div>
        </div>
        <div class="box-back shadow p-3 mb-5 bg-white rounded">
            {% if ((is_granted('ROLE_CONTRIBUTOR') and (app.user.id == resource.user.id)) or is_granted('ROLE_ADMIN')) %}
                {{ include('profile/_delete_resource.html.twig') }}
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ resource.name }}</h5>
                <p class="card-text">
                    {{ resource.description[:150] ~ '...' }}
                </p>
                {% if is_granted('ROLE_CONTRIBUTOR') %}
                <button type="button" class="btn" data-toggle="modal" data-target="#id{{ resource.id }}">
                    Voir
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
