{% extends 'base.html.twig' %}

{% block title %}Editer un service{% endblock %}

{% block body %}

    <div class="container-fluid-resource-edit">
        <div class="row align-items-center justify-content-center">
            <div class="col-5 d-flex justify-content-center">
                <div>
                    {% for picture in service.pictures %}
                            <div class="overflow-hidden">
                                <img class="item-picture" src="/uploads/pictures/{{ picture.name }}" alt="{{ picture.name }}">
                            </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-7 profile-main-forms ">
                <div class="form-service">
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn mt-5">Editer ce service</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
