{% block header %}
    <!--Navbar-->

    <nav class="navbar navbar-expand-md shadow-sm p-3 mb-5 bg-white rounded">


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
        <div class="logo-mobile">
            <a class="navbar-title" href="#">Nous les diets</a>
        </div>
        <div class="user-mobile">
            <i class=" fas fa-user"></i>
        </div>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse mb-1" id="basicExampleNav">

                <!-- Links -->
                <div class="contain-logo">
                    <img src="{{ asset('build/images/logo.69395845.png') }}" alt="logo" class="logo-design">
                    <div class="logo-title">
                        <a class="navbar-title" href="{{ path('ressource_index') }}">Nous les diets</a>
                    </div>
                </div>


                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event_index') }}">Evènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('service_index') }}" class="nav-link">Services </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{# path('profile_edit') #}">Mon espace</a>
                    </li>
                </ul>
                <ul class="link-footer">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">A propos</a>
                    </li>
                </ul>
                <div class="nav-user">
                    <i class=" fas fa-user"></i>
                </div>




            </div>
            <!-- Collapsible content -->

        </div>


    </nav>


    <!--/.Navbar-->

{% endblock %}
