<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
</button>
<div id="nouveau-resource">
    <h3 class="part-title">Je propose une connaissance :</h3>
</div>
<div class="container-fluid-resource">
    <div class="row align-items-center justify-content-center">
        <div class="col-7 profile-main-forms">
            <div class="form-resource">
                {% form_theme formResource 'bootstrap_4_layout.html.twig' %}
                {{ form_start(formResource) }}
                {{ form_row(formResource.name) }}
                {{ form_row(formResource.link) }}
                {{ form_row(formResource.resourceFormat) }}
                {{ form_row(formResource.pathology) }}
                {{ form_row(formResource.description) }}
                {{ form_row(formResource.resourceFile) }}
                <div class="d-flex flex-row-reverse">
                    <button class="btn mt-5">{{ button_label|default('Valider') }}</button>
                </div>
                {{ form_end(formResource) }}
            </div>
        </div>
    </div>
</div>
