<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
</button>
<div id="nouvel-evenement">
    <h3 class="part-title">Je propose un événement :</h3>
</div>
<div class="container-fluid-event">
    <div class="row align-items-center justify-content-center">
        <div class="col-7 profile-main-forms">
            <div class="form-event">
                {% form_theme formEvent 'bootstrap_4_layout.html.twig' %}
                {{ form_start(formEvent) }}
                    {{ form_row(formEvent.name) }}
                    {{ form_row(formEvent.eventFormat) }}
                    {{ form_row(formEvent.dateStart) }}
                    {{ form_row(formEvent.dateEnd) }}
                    {{ form_row(formEvent.price) }}
                    {{ form_row(formEvent.link) }}
                    {{ form_row(formEvent.description) }}
                    {{ form_row(formEvent.picture) }}
            </div>
            <div class="d-flex flex-row-reverse">
                <button class="btn mt-5">{{ button_label|default('Valider') }}</button>
            </div>
            {{ form_end(formEvent) }}
            </div>
        </div>
    </div>
</div>
