<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
</button>
<div id="nouveau-service">
    <h3 class="part-title">Je propose un service :</h3>
</div>
<div class="container-fluid-service">
    <div class="row align-items-center justify-content-center">
        <div class="col-7 profile-main-forms">
            <div class="form-service">
                {% form_theme form_service 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form_service) }}
                    {{ form_row(form_service.name) }}
                    {{ form_row(form_service.link) }}
                    {{ form_row(form_service.price) }}
                    {{ form_row(form_service.description) }}
                    {{ form_row(form_service.pictures) }}
                    <div class="d-flex flex-row-reverse">
                        <button class="btn mt-5">{{ button_label|default('Valider') }}</button>
                    </div>
                {{ form_end(form_service) }}
            </div>
        </div>
    </div>
</div>
