<div class="profile-edit">
    <div class="d-flex justify-content-center">
        <h2 class="page-title">Bonjour {{ infos.firstname}} ! Heureux de vous revoir.</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-wrap mb-5">
        <div>Je propose :</div>
        <div class="profile-button-container d-flex flex-wrap justify-content-center">
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-knowledge">
                    <button type="button" class="knowledge-button" data-toggle="modal" data-target="#modalKnowledge">
                        une connaissance
                    </button>
                    <div class="modal fade" id="modalKnowledge" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_newfiche_edit.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-service">
                    <button type="button" class="service-button" data-toggle="modal" data-target="#modalService">
                        un service
                    </button>
                    <div class="modal fade" id="modalService" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_newservice_edit.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="event-button" data-toggle="modal" data-target="#modalEvent">
                        un évènement
                    </button>
                    <div class="modal fade" id="modalEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_newevent_edit.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid profile-main">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-12 d-flex justify-content-center">
                <div>
                    <div class="overflow-hidden">
                        <img class="profile-picture"
                             src=
                             {% if (infos.picture) == false %}
                                    {{ asset('build/images/profile-initial-picture.be6b2f1a.png') }}
                                {% else %}
                             /uploads/pictures/{{ infos.picture.name }}
                                {% endif %}
                             alt="photo_de_profil">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-12 d-sm-flex  profile-text-center text-sm-left justify-content-xl-start justify-content-center justify-content-xs-start" >
                <div class="profile-informations">
                    <h3> {{ infos.firstname }} {{ infos.lastname }} </h3>
                    <p> {{ infos.birthday|date("d/m/Y") }}</p>
                    <p> {{ infos.adeli }}</p>
                    <p> {{ infos.address }} </p>
                    <p> {{ infos.country }}</p>
                    <p> {{ infos.email }} </p>
                    <p> {{ infos.phone }} </p>
                    {% if infos.website %}
                        <p>Site internet : {{ infos.website }} </p>
                    {% endif %}
                    <a href="{{ path('profile_profil_edit', {'id': infos.id}) }}">Modifier mon profil</a>
                </div>
            </div>
        </div>
    </div>
</div>
