{% extends 'base.html.twig' %}

{% block title %}Editer ton profil{% endblock %}

{% block body %}

    <div class="container-fluid-profil-edit">
        <div class="row align-items-center justify-content-center">
            <div class="col-5 d-flex justify-content-center">
                <div>
                    <div class="overflow-hidden">
                        <img class="profile-picture"
                             src="
                                     {{ user.picture  ? '/uploads/pictures/'~user.picture.name  : asset('build/images/profile-initial-picture.be6b2f1a.png') }}"
                             alt="photo_de_profil">
                    </div>
                </div>
            </div>
            <div class="col-7 profile-main-forms ">
                <div class="form-user">
                    {% form_theme form_edit_user 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form_edit_user) }}
                    <div> {{ form_row(form_edit_user.email) }} </div>
                    <div> {{ form_row(form_edit_user.country) }} </div>
                    <div class="form-modal-event">
                        <button type="button" class="no-adeli mb-2" data-toggle="modal" data-target="#modalEvent">
                            je n'ai pas de numéro ADELI
                        </button>
                        <div class="modal fade" id="modalEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        Vous pouvez tout de même vous inscrire sur le site Nous Les Diets.
                                        Pour cela, il vous suffit de contacter <a href="{{ path('contact_index') }}">alexandra.jacob.diet@gmail.com</a>.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div> {{ form_row(form_edit_user.address) }} </div>
                    <div> {{ form_row(form_edit_user.phone) }} </div>
                    <div> {{ form_row(form_edit_user.website) }} </div>
                    <div> {{ form_row(form_edit_user.picture) }} </div>


                    <button type="submit" class="btn mt-5">Editer mon profil</button>
                    {{ form_end(form_edit_user) }}

                    
                    {% form_theme form_edit_diet 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form_edit_diet) }}
                    <div> {{ form_row(form_edit_diet.firstname) }} </div>
                    <div> {{ form_row(form_edit_diet.lastname) }} </div>
                    <div> {{ form_row(form_edit_diet.birthday) }} </div>
                    <div> {{ form_row(form_edit_diet.adeli) }} </div>
                    <div> {{ form_row(form_edit_diet.specializations) }} </div>
                    {{ form_end(form_edit_diet)}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
