<div class="profile-edit">
    <div class="d-flex justify-content-center">
        <h2 class="page-title">Bonjour  {% include '/component/_name_for_all_role.html.twig' %} ! Heureux de vous revoir.</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-wrap mb-5">
        {% if is_granted('ROLE_CONTRIBUTOR') %}
        <div>Je propose :</div>
            {% if is_granted('ROLE_STRIPE') %}

            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPaydKnowledge">
                        une connaissance payante
                    </button>
                    <div class="modal fade" id="modalPaydKnowledge" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_newfiche_payd.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPaydVisio">
                        une visioconférence payante
                    </button>
                    <div class="modal fade" id="modalPaydVisio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_new_visio_payd.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% else %}
                    <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                        <div class="form-modal-event">
                            <button type="button" class="btn" data-toggle="modal" data-target="#modalRegister">
                                une connaissance payante
                            </button>
                            <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            {% include '/component/_modal_button.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                        <div class="form-modal-event">
                            <button type="button" class="btn" data-toggle="modal" data-target="#modalRegister">
                                une visioconférence payante
                            </button>
                            <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            {% include '/component/_modal_button.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   {% endif %}
            <div class="profile-button-container d-flex flex-wrap justify-content-center">
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-knowledge">
                    <button type="button" class="knowledge-button" data-toggle="modal" data-target="#modalKnowledge">
                        une connaissance gratuite
                    </button>
                    <div class="modal fade" id="modalKnowledge" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_newfiche_edit.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center">
                <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                    <div class="form-modal-knowledge">
                        <button type="button" class="knowledge-button" data-toggle="modal" data-target="#exampleModalCenterVisio">
                             une visioconférence gratuite
                        </button>
                        <div class="modal fade" id="exampleModalCenterVisio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% include '/component/_new_visio.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-service">
                    <button type="button" class="service-button" data-toggle="modal" data-target="#modalService">
                        un service
                    </button>
                    <div class="modal fade" id="modalService" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_newservice_edit.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="event-button" data-toggle="modal" data-target="#modalEvent">
                        un évènement
                    </button>
                    <div class="modal fade" id="modalEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_newevent_edit.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {% else %}
        <div>Je propose :</div>
        <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
            <div class="form-modal-event">
                <button type="button" class="btn" data-toggle="modal" data-target="#modalSubscribe">
                   une connaissance gratuite
                </button>
                <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                {% include '/component/_modal_button.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalSubscribe">
                        une visioconférence gratuite
                    </button>
                    <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_modal_button.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalSubscribe">
                        une connaissance payante
                    </button>
                    <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_modal_button.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalSubscribe">
                        une visioconférence payante
                    </button>
                    <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_modal_button.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalSubscribe">
                        un évènement
                    </button>
                    <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_modal_button.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-button-container d-flex flex-wrap justify-content-center ml-2">
                <div class="form-modal-event">
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalSubscribe">
                        un service
                    </button>
                    <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include '/component/_modal_button.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       {% endif %}
    </div>
    <div class="container-fluid profile-main">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-12 d-flex justify-content-center">
                <div>
                    <div class="overflow-hidden">
                        <img class="profile-picture"
                             src=
                             {% if (infos.picture) == false %}
                                    {{ asset('build/images/profile-initial-picture.be6b2f1a.png') }}
                                {% else %}
                             /uploads/pictures/{{ infos.picture.name }}
                                {% endif %}
                             alt="photo_de_profil">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-12 d-sm-flex  profile-text-center text-sm-left justify-content-xl-start justify-content-center justify-content-xs-start" >
                <div class="profile-informations">
                    <h3 class="name-user-all">{% include '/component/_name_for_all_role.html.twig' %} </h3>
                    <p>
                        {% if infos.dietetician %}  {{ infos.dietetician.birthday|date("d/m/Y") }} {% endif %}
                    </p>
                    <p>
                        {% include '/component/_siret_adeli_for_user.html.twig' %}
                    </p>
                    <p>
                        {% if infos.company %} {{ infos.company.description }} {% endif %}
                        {% if infos.freelancer %} {{ infos.freelancer.description }} {% endif %}
                    </p>
                    <p> {{ infos.address }} </p>
                    <p> {{ infos.country }}</p>
                    <p> {{ infos.email }} </p>
                    <p> {{ infos.phone }} </p>
                    {% if infos.website %}
                        <p>Site internet : {{ infos.website }} </p>
                    {% endif %}
                    <a href="{{ path('profile_profil_edit', {'id': infos.id}) }}" class="btn" >Modifier mon profil </a>
                </div>
            </div>
            {% if is_granted('ROLE_STRIPE') %}
            <a href="{{ path('payment_register_stripe', {'id': infos.id}) }}" class="btn mr-3">Accès à vos informations et compte Stripe pour vos virements</a>
            {% endif %}
            {% if is_granted('ROLE_ENTERPRISE') %}
                {% if is_granted('ROLE_DIETETICIAN') %}

                    {% else %}
                        <div class="justify-content-center">
                            <a id="profile-checkout-subscription" href="#" class="btn">S'abonner</a>
                            <p>* Le premier mois d'abonnement vous sera remboursé par l'administrateur</p>
                        </div>
                {% endif %}
            {% endif %}
                {% if is_granted ('ROLE_DIETETICIAN') %}
                    {% if is_granted ('ROLE_STRIPE') %}

                    {% else %}
                    <a href="{{ path('payment_register_stripe',  {'id': infos.id}) }}" class="btn">S'inscrire sur Stripe pour poster des connaissances ou visio payante</a>
                {% endif %}
            {% endif %}
            {% if (is_granted('ROLE_COMPANY_SUBSCRIBER') or (is_granted('ROLE_FREELANCER_SUBSCRIBER'))) %}
            <a href="{{ path('payment_create_portal_session') }}" class="btn">Visualiser le portail</a>
            {% endif %}
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('profile-subscribe') }}
{% endblock %}
