{% extends 'base.html.twig' %}

{% block title %}Mon Panier {% endblock %}

{% block body %}
    <div class="basket pt-5">
         <h2 class="pt-5 pb-4 text-center">Votre panier</h2>
    {% if products | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.resource.name }}</td>
                        <td>{{ product.resource.price }}€</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.resource.price * product.quantity }}€</td>
                        <td>
                            <a href="{{path('basket_delete', {'id': product.resource.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total: </td>
                    <td>{{ total }}€</td>
                    <td></td>
                </tr>

            </tfoot>
        </table>
        <div class="d-flex justify-content-center">
        <button id="checkout-button" class="btn"><i class="fas fa-shopping-cart"></i> Acheter</button>
        </div>
        {% else %}
            <p>Votre panier est actuellement vide</p>
        {% endif %}
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key

        var stripe = Stripe('{{ public_key }}', {
            stripeAccount: '{{ account }}'
        });
        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function() {
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            fetch('/paiement/creation-session/', {
                method: 'POST',
            })
                .then(function(response) {
                    return response.json();
                })
                .then(function(session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function(result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });
    </script>
{% endblock %}
