{% extends 'base.html.twig' %}

{% block title %}Mon Panier {% endblock %}

{% block body %}
    <div class="basket pt-5">
         <h1 class="pt-5 pb-4 text-center basket-title">Votre panier</h1>
        {% if products | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.resource.name }}</td>
                        <td>{{ product.resource.price }}€</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.resource.price * product.quantity }}€</td>
                        <td>
                            <a href="{{path('basket_delete', {'id': product.resource.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total: </td>
                    <td>{{ total }}€</td>
                    <td></td>
                </tr>

            </tfoot>
        </table>
        <div class="d-flex justify-content-center">
        <button id="checkout-button" class="btn btn-buy"><i class="fas fa-shopping-cart"></i> Acheter</button>
        </div>
        {% else %}
            <h3 class="text-center basket-empty">Votre panier est actuellement vide</h3>
            <a href="{{ path('knowledge_index') }}" class="return-knowledge">Retourner à la boutique</a>
        {% endif %}

    </div>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('stripe') }}
{% endblock %}
